body {
  width: 100%;
  background-color: #F9FBFB;
}
.appCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navdiv {
  margin: 10px;
  display: flex;
}
.cont {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.prodCard {
  margin-top: 10px;
  width:18rem;
  background-color: white;
}
.success {
  border: 2px solid green;
}
.success:hover {
  border: 5px solid green;
}
.fail:hover {
  border: 5px solid red;
}
.cardBodyCont {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.checkFlex {
  margin-top: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #2A6BF8;
  border-radius: 15px;
}
.plusDash {
  cursor: pointer;
}
.noClickBtn {
  cursor: default;
}
.contBasket{
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.prodBasketCard {
  margin: 10px;
  width:18rem;
  background-color: white;
}
